body
{

    background-image: url("WhatsApp Image 2021-05-29 at 5.37.00 AM.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: hsl(218, 28%, 13%);
    color: hsl(176, 68%, 64%);
    height: 500px;
    border-image-width: 20px;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.current_Page
{
    color: black !important;
    background-color: #ddd;
}

div
{
    padding-bottom: 10px;
    text-align: left;
}

.card
{
    text-align: right;
    padding: 5px;
    border-radius: 20px;
    margin: 20px 20px 50px 0px;
    width: 350px;
    background-color: hsl(216, 53%, 9%);
    color: white;
}
h1
{
    text-align: center;
}
dl
{
    width: 300px;
}
 dt
{
    font-size: 14px;

 }
.form-control
{
    justify-content: left;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fb
{
    background-color: #3B5998;
    color: white;
    width: 350px;
    margin-bottom: 20px;
}

.twitter {
    background-color: #55ACEE;
    color: white;
    width: 350px;
    margin-bottom: 20px;
}

.google {
    background-color: #dd4b39;
    color: white;
    width: 350px;
    margin-bottom: 20px;

}
.Register-Button
{
    margin-bottom: 20px;
}
.sign-up:hover
{
    background: #2fdbb6;
}

.sign-up:active
{
    background: #1da88a;
}
.forget-password
{
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
a
{
    color:#55ACEE ;
    padding-bottom: 15px;
}
footer
{

    padding-top: 15px;
    background-color: hsl(216, 53%, 9%) ;
    color: #f2f2f2;
}
.footer-header,section
{
    padding-right:20px;
    margin-right: 20px;
}
footer h1
{
    text-align: right!important;
    font-size: 30px;
    color: #f2f2f2 ;
}
footer dl
{
    padding: 15px;
    margin: 2px;
    width: 300px;
}
footer dt
{
    font-size: 14px;
    padding: 5px;
}
